$text1: #fff;
$text2: #6C7279; 
$text3: #808080;
$border-color: #BABBC5; 
$mainBG: rgba(37, 43, 73, .8); 
$mainBG-btn: #FF4343;  
$btn-active: #E71414;
$heading-color: #2D3033;   
$purple: #5C3249;  
$bg-footer1: #353C65;  
$bg-footer2: #2C3154;  